
#alleditors2{
    display: flex;
    justify-content: center;
    
}
#alleditors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
#all {
    display: flex;
    flex-wrap: wrap;
    justify-content:baseline;
    gap: 25px;
}
.editor-card {
    background: #ffffff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding:20px 20px 5px  20px;
    margin: 10px;
    width: 240px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(72, 75, 80, 0.2);
}

.editor-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
#img1 {
    width: 200px;
    height: 280px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 12px;
}

.editor-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.editor-divider {
    width: 90%;
    height: 2px;
    background-color: #ddd;
    border: none;
    margin: 12px 0;
}
#details {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0c326be5;
    color: #fff;
    padding: 12px;
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#details p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
}

#addneweditor h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 45px;
    background: #3b63a0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#addneweditor h1:hover {
    background: #2a4c7b;
    transform: translateY(-5px) scale(1.05);
}
#box1{
    display: flex;
}
#box2 li {
  list-style-type: none;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  color: #1d3557;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

#box2 li:hover{
    background-color: #a7c5f13a;
    cursor: pointer;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.105);
}
#box2{
display: flex;
flex-direction: column;
    min-width:200px;
    width: 20%;
    background-color: #ffffff;
height: 100vh;
}

@media (max-width: 768px) {
    #all {
        flex-direction: column; 
        align-items: center;
        gap: 30px;
    }

    .editor-card {
        width: 80%; 
    }

    #addneweditor {
        width: auto;
        padding: 12px 35px;
        border-radius: 40px;
    }
    #box1{
        flex-direction: column;
    }
    #box2{
        height: auto;
        width: 100vh;
    }
    #box2 ul{
        width: 100vh;
    }
}

