
.navbar, .navbar * {
  color: #000 ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.logo {
  height: 85px;
  margin-left: 20px;
  margin-right: 10px;
}
.nav-right a:hover {
  color: #555;
}
body{
  background-color: #ffffff;
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-right a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-right button {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  border:1px solid black;
  border-radius: 20px;
  background-color: white;
  font-size: medium;
}
.nav-right button:hover{
  background-color: rgba(48, 49, 95, 0.582);
  color: #ffffff;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.3);
  cursor: pointer;  
}
@media (max-width: 768px) {
  .nav-right a{
    font-size: small;
  }
  .nav-right button{
    font-size: small;
     margin-left: 0px;
  margin-right: 0px;
  }
}
.nav-left img{
  width: 100px;
  height:100px;
}